In [61]:
import pandas as pd
import pyproj
from shapely.geometry import Point
from functools import partial
from shapely.ops import transform

EPSG:4326 좌표계

In [62]:
df_wel = pd.read_csv('./df_wel_prepo_EPSG_4326.csv')
df_wel

,시설명,시설주소,X,Y,현인원,사고건수
0,송파구방이복지관,서울특별시 송파구 백제고분로37길 4,127.104021,37.504330,160.0,23
1,서울시각장애인복지관,서울특별시 송파구 삼학사로19길 27,127.094073,37.506119,0.0,34
2,서울시립발달장애인복지관,서울특별시 동작구 여의대방로20길 33,126.919139,37.492678,752.0,13
3,청음복지관,서울특별시 강남구 봉은사로50길 6,127.042358,37.509405,345.0,47
4,마포장애인종합복지관,서울특별시 마포구 성산로4길 35,126.908472,37.563787,3743.0,24
...,...,...,...,...,...,...
643,종로발달장애인평생교육센터,서울특별시 종로구 종로17길 8,126.988957,37.570684,NaN,59
644,영등포구 발달장애인평생교육센터,서울특별시 영등포구 문래북로 105,126.893381,37.520285,NaN,37
645,강남발달장애인평생교육센터,서울특별시 강남구 논현로86길 21,127.039177,37.500322,NaN,86
646,도봉발달장애인 평생교육센터,서울특별시 도봉구 마들로 703,127.046317,37.673059,NaN,13
647,용산구 발달장애인 평생교육센터,서울특별시 용산구 백범로329,126.965506,37.538661,NaN,34

In [63]:
df_school = pd.read_csv('./서울시_특수학교_기본정보.csv')

In [64]:
df_school = df_school.rename(columns={'경도': 'X', '위도': 'Y', '학교명': '시설명', '도로명주소':'시설주소'})
df_school = df_school[['시설명', '시설주소', 'X', 'Y']]
df_school

          시설명                     시설주소           X          Y
0      서울서진학교      서울특별시 강서구 양천로55길 22  126.850232  37.565252
1      서울도솔학교   서울특별시 도봉구 평화로15번길 9-26  127.043400  37.693284
2      서울나래학교       서울특별시 서초구 염곡안1길 25  127.051619  37.463793
3      서울새롬학교        서울특별시 관악구 보라매로 44  126.927421  37.493146
4      서울효정학교      서울특별시 강북구 삼양로63길 33  127.016205  37.627118
5      서울다원학교    서울특별시 성북구 성북로31길 5-15  126.990931  37.594122
6        누리학교         서울특별시 동작구 상도로 53  126.926535  37.499993
7   연세대학교재활학교        서울특별시 서대문구 연세로 50  126.939497  37.564699
8     수도사랑의학교       서울특별시 종로구 사직로7길 17  126.965181  37.574806
9      은평대영학교      서울특별시 은평구 갈현로11길 30  126.906816  37.605677
10     서울동천학교      서울특별시 노원구 노원로18길 41  127.073328  37.644403
11      한빛맹학교     서울특별시 강북구 삼양로73가길 47  127.015696  37.628088
12       교남학교     서울특별시 강서구 까치산로22길 38  126.852497  37.548128
13     서울경운학교       서울특별시 종로구 삼일대로 454  126.987747  37.574830
14     서울정민학교      서울특별시 노원구 공릉로58길 24  127.073174  37.633903
15    광성하늘빛학교       서울특별시 송파구 올림픽로 625  127.122523  37.537609
16     서울정인학교    서울특별시 강북구 인수봉로 119-20  127.011968  37.630746
17     서울정애학교     서울특별시 강남구 봉은사로81길 16  127.054270  37.514355
18     서울광진학교        서울특별시 광진구 강변역로 18  127.091703  37.537357
19     한국육영학교       서울특별시 송파구 충민로6길 15  127.132482  37.481813
20     한국구화학교     서울특별시 강동구 고덕로 295-59  127.159003  37.558267
21       주몽학교        서울특별시 강동구 상암로 369  127.163635  37.546196
22     성베드로학교        서울특별시 구로구 연동로 320  126.825696  37.487497
23     서울애화학교      서울특별시 강북구 솔매로52길 31  127.028702  37.625235
24     서울삼성학교    서울특별시 동작구 양녕로30길 19-4  126.945931  37.499120
25       밀알학교         서울특별시 강남구 일원로 90  127.082319  37.485771
26      다니엘학교  서울특별시 서초구 헌릉로468길 21-16  127.092033  37.460424
27     서울정문학교        서울특별시 관악구 난향3길 31  126.916530  37.461693
28     서울정진학교      서울특별시 구로구 부일로9길 158  126.821921  37.498164
29     한국우진학교    서울특별시 마포구 월드컵북로38길 21  126.903315  37.571597
30      서울농학교       서울특별시 종로구 필운대로 103  126.968581  37.585037
31      서울맹학교        서울특별시 종로구 필운대로 97  126.967545  37.584789

In [65]:
df_welfare = pd.concat([df_wel, df_school])
df_welfare = df_welfare.reset_index(drop=True)
df_welfare

              시설명                   시설주소           X          Y     현인원  사고건수
0        송파구방이복지관   서울특별시 송파구 백제고분로37길 4  127.104021  37.504330   160.0  23.0
1      서울시각장애인복지관   서울특별시 송파구 삼학사로19길 27  127.094073  37.506119     0.0  34.0
2    서울시립발달장애인복지관  서울특별시 동작구 여의대방로20길 33  126.919139  37.492678   752.0  13.0
3           청음복지관    서울특별시 강남구 봉은사로50길 6  127.042358  37.509405   345.0  47.0
4      마포장애인종합복지관     서울특별시 마포구 성산로4길 35  126.908472  37.563787  3743.0  24.0
..            ...                    ...         ...        ...     ...   ...
675        서울정문학교      서울특별시 관악구 난향3길 31  126.916530  37.461693     NaN   NaN
676        서울정진학교    서울특별시 구로구 부일로9길 158  126.821921  37.498164     NaN   NaN
677        한국우진학교  서울특별시 마포구 월드컵북로38길 21  126.903315  37.571597     NaN   NaN
678         서울농학교     서울특별시 종로구 필운대로 103  126.968581  37.585037     NaN   NaN
679         서울맹학교      서울특별시 종로구 필운대로 97  126.967545  37.584789     NaN   NaN

[680 rows x 6 columns]

In [66]:
df_welfare.to_csv('./welfare_school_concat_EPSG_4326.csv', index=False)

EPSG:5186

In [67]:
df_wel = pd.read_csv('./df_wel_prepo_EPSG_4326.csv')

In [68]:
df_wel = df_wel[['시설명', '시설주소', 'X', 'Y']]

# 좌표 변환 함수 정의
def transform_coordinates(x, y):
    transformer = pyproj.Transformer.from_crs("EPSG:4326", "EPSG:5186", always_xy=True)
    new_x, new_y = transformer.transform(x, y)
    return new_x, new_y

# DataFrame의 각 행에 변환 함수 적용
df_wel['X'], df_wel['Y'] = zip(*df_wel.apply(lambda row: transform_coordinates(row['X'], row['Y']), axis=1))

In [69]:
df_school = pd.read_csv('./서울시_특수학교_기본정보_변환.csv')

In [70]:
df_school = df_school.rename(columns={'경도': 'X', '위도': 'Y', '학교명': '시설명', '도로명주소':'시설주소'})
df_school = df_school[['시설명', '시설주소', 'X', 'Y']]
df_school

          시설명                     시설주소              X              Y
0      서울서진학교      서울특별시 강서구 양천로55길 22  186768.209234  551756.799731
1      서울도솔학교   서울특별시 도봉구 평화로15번길 9-26  203827.768154  565957.391454
2      서울나래학교       서울특별시 서초구 염곡안1길 25  204566.662737  540486.857254
3      서울새롬학교        서울특별시 관악구 보라매로 44  193581.600377  543745.915339
4      서울효정학교      서울특별시 강북구 삼양로63길 33  201430.475173  558612.816068
5      서울다원학교    서울특별시 성북구 성북로31길 5-15  199199.077307  554950.545286
6        누리학교         서울특별시 동작구 상도로 53  193503.841376  544505.904080
7   연세대학교재활학교        서울특별시 서대문구 연세로 50  194654.632265  551686.667127
8     수도사랑의학교       서울특별시 종로구 사직로7길 17  196924.170872  552807.253488
9      은평대영학교      서울특별시 은평구 갈현로11길 30  191771.780054  556237.133219
10     서울동천학교      서울특별시 노원구 노원로18길 41  206471.527773  560533.665880
11      한빛맹학교     서울특별시 강북구 삼양로73가길 47  201385.577975  558720.556992
12       교남학교     서울특별시 강서구 까치산로22길 38  186965.353987  549855.987865
13     서울경운학교       서울특별시 종로구 삼일대로 454  198917.596340  552809.362375
14     서울정민학교      서울특별시 노원구 공릉로58길 24  206458.845407  559368.296896
15    광성하늘빛학교       서울특별시 송파구 올림픽로 625  210828.743240  548685.258323
16     서울정인학교    서울특별시 강북구 인수봉로 119-20  201056.410084  559015.485212
17     서울정애학교     서울특별시 강남구 봉은사로81길 16  204797.912531  546098.739153
18     서울광진학교        서울특별시 광진구 강변역로 18  208104.829087  548654.253318
19     한국육영학교       서울특별시 송파구 충민로6길 15  211717.587710  542493.871010
20     한국구화학교     서울특별시 강동구 고덕로 295-59  214049.009689  550982.931121
21       주몽학교        서울특별시 강동구 상암로 369  214460.548558  549643.851217
22     성베드로학교        서울특별시 구로구 연동로 320  184584.489080  543130.724490
23     서울애화학교      서울특별시 강북구 솔매로52길 31  202533.707013  558404.131324
24     서울삼성학교    서울특별시 동작구 양녕로30길 19-4  195218.824135  544407.794928
25       밀알학교         서울특별시 강남구 일원로 90  207280.502308  542928.118098
26      다니엘학교  서울특별시 서초구 헌릉로468길 21-16  208142.370701  540115.648270
27     서울정문학교        서울특별시 관악구 난향3길 31  192615.376246  540255.784195
28     서울정진학교      서울특별시 구로구 부일로9길 158  184252.866588  544315.225890
29     한국우진학교    서울특별시 마포구 월드컵북로38길 21  191458.763416  552454.893751
30      서울농학교       서울특별시 종로구 필운대로 103  197224.870460  553942.638157
31      서울맹학교        서울특별시 종로구 필운대로 97  197133.426824  553915.110763

In [71]:
df_welfare = pd.concat([df_wel, df_school])
df_welfare = df_welfare.reset_index(drop=True)
df_welfare

              시설명                   시설주소              X              Y
0        송파구방이복지관   서울특별시 송파구 백제고분로37길 4  209197.555575  544989.802846
1      서울시각장애인복지관   서울특별시 송파구 삼학사로19길 27  208317.742410  545187.410939
2    서울시립발달장애인복지관  서울특별시 동작구 여의대방로20길 33  192849.131402  543694.525996
3           청음복지관    서울특별시 강남구 봉은사로50길 6  203745.064042  545548.855807
4      마포장애인종합복지관     서울특별시 마포구 성산로4길 35  191913.520061  551587.596265
..            ...                    ...            ...            ...
675        서울정문학교      서울특별시 관악구 난향3길 31  192615.376246  540255.784195
676        서울정진학교    서울특별시 구로구 부일로9길 158  184252.866588  544315.225890
677        한국우진학교  서울특별시 마포구 월드컵북로38길 21  191458.763416  552454.893751
678         서울농학교     서울특별시 종로구 필운대로 103  197224.870460  553942.638157
679         서울맹학교      서울특별시 종로구 필운대로 97  197133.426824  553915.110763

[680 rows x 4 columns]

In [72]:
df_welfare.to_csv('welfare_school_concat.csv', index=False)

In [73]:
df_wel = df_wel.rename(columns={'경도': 'X', '위도': 'Y', '학교명': '시설명'})
df_wel = df_wel[['시설명', 'X', 'Y']]

In [74]:
df_school = df_school.rename(columns={'경도': 'X', '위도': 'Y', '학교명': '시설명'})
df_school = df_school[['시설명', 'X', 'Y']]

In [75]:
df_welfare = pd.concat([df_wel, df_school])
df_welfare = df_welfare.reset_index(drop=True)
df_welfare

              시설명              X              Y
0        송파구방이복지관  209197.555575  544989.802846
1      서울시각장애인복지관  208317.742410  545187.410939
2    서울시립발달장애인복지관  192849.131402  543694.525996
3           청음복지관  203745.064042  545548.855807
4      마포장애인종합복지관  191913.520061  551587.596265
..            ...            ...            ...
675        서울정문학교  192615.376246  540255.784195
676        서울정진학교  184252.866588  544315.225890
677        한국우진학교  191458.763416  552454.893751
678         서울농학교  197224.870460  553942.638157
679         서울맹학교  197133.426824  553915.110763

[680 rows x 3 columns]

In [ ]:
df_welfare.to_csv('./welfare_school_concat_EPSG_5186.csv', index=False)